In [11]:
import urllib2
myurl = 'http://www.city-data.com/top1.html'
sock = urllib2.urlopen(myurl) 
lines = sock.readlines() 
sock.close()

In [109]:
import re
lineNum=0
print "Rank\t","City\t\t","Population\t\t\t","Link"
for line in lines:
    if "href='/city/" in line:
        city = line.split('>')[9].split("</a")[0]
        pop = line.split('>')[10].split(')')[0].split(' ')[2]
        repl1 = re.sub('[,]', '', city)
        url = re.sub('[ ]','-',repl1).strip()
        lineNum = lineNum + 1
        print lineNum,"\t",city," ",pop,"\thttp://www.city-data.com/city/"+url+".html"
        print "-------------------------------------------------------------------------------------------"
        print ""
        #print line.split('>')[9].split("</a")[0],line.split('>')[10].split(')')[0].split(' ')[2]
    if "javascript" in line:
        break

Rank	City		Population			Link
1 	New York, New York   8,213,839 	http://www.city-data.com/city/New-York-New-York.html
-------------------------------------------------------------------------------------------

2 	Los Angeles, California   3,794,640 	http://www.city-data.com/city/Los-Angeles-California.html
-------------------------------------------------------------------------------------------

3 	Chicago, Illinois   2,824,584 	http://www.city-data.com/city/Chicago-Illinois.html
-------------------------------------------------------------------------------------------

4 	Houston, Texas   2,076,189 	http://www.city-data.com/city/Houston-Texas.html
-------------------------------------------------------------------------------------------

5 	Philadelphia, Pennsylvania   1,517,628 	http://www.city-data.com/city/Philadelphia-Pennsylvania.html
-------------------------------------------------------------------------------------------

6 	Phoenix, Arizona   1,476,331 	http://www.city-data.com/city/Phoenix-Arizona.html
-------------------------------------------------------------------------------------------

7 	San Diego, California   1,284,347 	http://www.city-data.com/city/San-Diego-California.html
-------------------------------------------------------------------------------------------

8 	San Antonio, Texas   1,258,733 	http://www.city-data.com/city/San-Antonio-Texas.html
-------------------------------------------------------------------------------------------

9 	Dallas, Texas   1,246,185 	http://www.city-data.com/city/Dallas-Texas.html
-------------------------------------------------------------------------------------------

10 	Detroit, Michigan   921,147 	http://www.city-data.com/city/Detroit-Michigan.html
-------------------------------------------------------------------------------------------

11 	San Jose, California   908,870 	http://www.city-data.com/city/San-Jose-California.html
-------------------------------------------------------------------------------------------

12 	Indianapolis, Indiana   789,250 	http://www.city-data.com/city/Indianapolis-Indiana.html
-------------------------------------------------------------------------------------------

13 	Jacksonville, Florida   786,938 	http://www.city-data.com/city/Jacksonville-Florida.html
-------------------------------------------------------------------------------------------

14 	San Francisco, California   777,660 	http://www.city-data.com/city/San-Francisco-California.html
-------------------------------------------------------------------------------------------

15 	Columbus, Ohio   738,782 	http://www.city-data.com/city/Columbus-Ohio.html
-------------------------------------------------------------------------------------------

16 	Austin, Texas   708,293 	http://www.city-data.com/city/Austin-Texas.html
-------------------------------------------------------------------------------------------

17 	Memphis, Tennessee   680,515 	http://www.city-data.com/city/Memphis-Tennessee.html
-------------------------------------------------------------------------------------------

18 	Baltimore, Maryland   640,064 	http://www.city-data.com/city/Baltimore-Maryland.html
-------------------------------------------------------------------------------------------

19 	Charlotte, North Carolina   634,059 	http://www.city-data.com/city/Charlotte-North-Carolina.html
-------------------------------------------------------------------------------------------

20 	Fort Worth, Texas   622,311 	http://www.city-data.com/city/Fort-Worth-Texas.html
-------------------------------------------------------------------------------------------

21 	Boston, Massachusetts   609,690 	http://www.city-data.com/city/Boston-Massachusetts.html
-------------------------------------------------------------------------------------------

22 	Milwaukee, Wisconsin   602,057 	http://www.city-data.com/city/Milwaukee-Wisconsin.html
-------------------------------------------------------------------------------------------

23 	El Paso, Texas   587,400 	http://www.city-data.com/city/El-Paso-Texas.html
-------------------------------------------------------------------------------------------

24 	Washington, District of Columbia   582,049 	http://www.city-data.com/city/Washington-District-of-Columbia.html
-------------------------------------------------------------------------------------------

25 	Nashville-Davidson, Tennessee   579,748 	http://www.city-data.com/city/Nashville-Davidson-Tennessee.html
-------------------------------------------------------------------------------------------

26 	Seattle, Washington   575,719 	http://www.city-data.com/city/Seattle-Washington.html
-------------------------------------------------------------------------------------------

27 	Denver, Colorado   561,323 	http://www.city-data.com/city/Denver-Colorado.html
-------------------------------------------------------------------------------------------

28 	Las Vegas, Nevada   544,806 	http://www.city-data.com/city/Las-Vegas-Nevada.html
-------------------------------------------------------------------------------------------

29 	Portland, Oregon   534,093 	http://www.city-data.com/city/Portland-Oregon.html
-------------------------------------------------------------------------------------------

30 	Oklahoma City, Oklahoma   532,006 	http://www.city-data.com/city/Oklahoma-City-Oklahoma.html
-------------------------------------------------------------------------------------------

31 	Tucson, Arizona   528,483 	http://www.city-data.com/city/Tucson-Arizona.html
-------------------------------------------------------------------------------------------

32 	Albuquerque, New Mexico   496,801 	http://www.city-data.com/city/Albuquerque-New-Mexico.html
-------------------------------------------------------------------------------------------

33 	Atlanta, Georgia   483,108 	http://www.city-data.com/city/Atlanta-Georgia.html
-------------------------------------------------------------------------------------------

34 	Long Beach, California   467,851 	http://www.city-data.com/city/Long-Beach-California.html
-------------------------------------------------------------------------------------------

35 	Kansas City, Missouri   463,985 	http://www.city-data.com/city/Kansas-City-Missouri.html
-------------------------------------------------------------------------------------------

36 	Fresno, California   456,574 	http://www.city-data.com/city/Fresno-California.html
-------------------------------------------------------------------------------------------

37 	New Orleans, Louisiana   455,188 	http://www.city-data.com/city/New-Orleans-Louisiana.html
-------------------------------------------------------------------------------------------

38 	Cleveland, Ohio   449,188 	http://www.city-data.com/city/Cleveland-Ohio.html
-------------------------------------------------------------------------------------------

39 	Sacramento, California   448,842 	http://www.city-data.com/city/Sacramento-California.html
-------------------------------------------------------------------------------------------

40 	Mesa, Arizona   448,520 	http://www.city-data.com/city/Mesa-Arizona.html
-------------------------------------------------------------------------------------------

41 	Virginia Beach, Virginia   437,464 	http://www.city-data.com/city/Virginia-Beach-Virginia.html
-------------------------------------------------------------------------------------------

42 	Omaha, Nebraska   432,148 	http://www.city-data.com/city/Omaha-Nebraska.html
-------------------------------------------------------------------------------------------

43 	Colorado Springs, Colorado   393,795 	http://www.city-data.com/city/Colorado-Springs-Colorado.html
-------------------------------------------------------------------------------------------

44 	Oakland, California   392,112 	http://www.city-data.com/city/Oakland-California.html
-------------------------------------------------------------------------------------------

45 	Miami, Florida   390,768 	http://www.city-data.com/city/Miami-Florida.html
-------------------------------------------------------------------------------------------

46 	Tulsa, Oklahoma   381,017 	http://www.city-data.com/city/Tulsa-Oklahoma.html
-------------------------------------------------------------------------------------------

47 	Minneapolis, Minnesota   375,641 	http://www.city-data.com/city/Minneapolis-Minnesota.html
-------------------------------------------------------------------------------------------

48 	Honolulu, Hawaii   375,111 	http://www.city-data.com/city/Honolulu-Hawaii.html
-------------------------------------------------------------------------------------------

49 	Arlington, Texas   361,043 	http://www.city-data.com/city/Arlington-Texas.html
-------------------------------------------------------------------------------------------

50 	Wichita, Kansas   354,524 	http://www.city-data.com/city/Wichita-Kansas.html
-------------------------------------------------------------------------------------------

51 	St. Louis, Missouri   352,572 	http://www.city-data.com/city/St.-Louis-Missouri.html
-------------------------------------------------------------------------------------------

52 	Raleigh, North Carolina   348,699 	http://www.city-data.com/city/Raleigh-North-Carolina.html
-------------------------------------------------------------------------------------------

53 	Santa Ana, California   337,121 	http://www.city-data.com/city/Santa-Ana-California.html
-------------------------------------------------------------------------------------------

54 	Cincinnati, Ohio   331,310 	http://www.city-data.com/city/Cincinnati-Ohio.html
-------------------------------------------------------------------------------------------

55 	Anaheim, California   329,315 	http://www.city-data.com/city/Anaheim-California.html
-------------------------------------------------------------------------------------------

56 	Tampa, Florida   325,569 	http://www.city-data.com/city/Tampa-Florida.html
-------------------------------------------------------------------------------------------

57 	Toledo, Ohio   316,970 	http://www.city-data.com/city/Toledo-Ohio.html
-------------------------------------------------------------------------------------------

58 	Pittsburgh, Pennsylvania   316,206 	http://www.city-data.com/city/Pittsburgh-Pennsylvania.html
-------------------------------------------------------------------------------------------

59 	Aurora, Colorado   296,681 	http://www.city-data.com/city/Aurora-Colorado.html
-------------------------------------------------------------------------------------------

60 	Bakersfield, California   291,553 	http://www.city-data.com/city/Bakersfield-California.html
-------------------------------------------------------------------------------------------

61 	Riverside, California   285,615 	http://www.city-data.com/city/Riverside-California.html
-------------------------------------------------------------------------------------------

62 	Stockton, California   282,015 	http://www.city-data.com/city/Stockton-California.html
-------------------------------------------------------------------------------------------

63 	Corpus Christi, Texas   281,290 	http://www.city-data.com/city/Corpus-Christi-Texas.html
-------------------------------------------------------------------------------------------

64 	Lexington-Fayette, Kentucky   278,313 	http://www.city-data.com/city/Lexington-Fayette-Kentucky.html
-------------------------------------------------------------------------------------------

65 	Buffalo, New York   277,998 	http://www.city-data.com/city/Buffalo-New-York.html
-------------------------------------------------------------------------------------------

66 	St. Paul, Minnesota   276,978 	http://www.city-data.com/city/St.-Paul-Minnesota.html
-------------------------------------------------------------------------------------------

67 	Anchorage, Alaska   276,863 	http://www.city-data.com/city/Anchorage-Alaska.html
-------------------------------------------------------------------------------------------

68 	Newark, New Jersey   276,200 	http://www.city-data.com/city/Newark-New-Jersey.html
-------------------------------------------------------------------------------------------

69 	Plano, Texas   250,357 	http://www.city-data.com/city/Plano-Texas.html
-------------------------------------------------------------------------------------------

70 	Fort Wayne, Indiana   249,762 	http://www.city-data.com/city/Fort-Wayne-Indiana.html
-------------------------------------------------------------------------------------------

71 	St. Petersburg, Florida   247,936 	http://www.city-data.com/city/St.-Petersburg-Florida.html
-------------------------------------------------------------------------------------------

72 	Glendale, Arizona   242,864 	http://www.city-data.com/city/Glendale-Arizona.html
-------------------------------------------------------------------------------------------

73 	Lincoln, Nebraska   242,009 	http://www.city-data.com/city/Lincoln-Nebraska.html
-------------------------------------------------------------------------------------------

74 	Norfolk, Virginia   237,487 	http://www.city-data.com/city/Norfolk-Virginia.html
-------------------------------------------------------------------------------------------

75 	Jersey City, New Jersey   236,808 	http://www.city-data.com/city/Jersey-City-New-Jersey.html
-------------------------------------------------------------------------------------------

76 	Greensboro, North Carolina   236,449 	http://www.city-data.com/city/Greensboro-North-Carolina.html
-------------------------------------------------------------------------------------------

77 	Chandler, Arizona   236,188 	http://www.city-data.com/city/Chandler-Arizona.html
-------------------------------------------------------------------------------------------

78 	Birmingham, Alabama   232,137 	http://www.city-data.com/city/Birmingham-Alabama.html
-------------------------------------------------------------------------------------------

79 	Henderson, Nevada   231,787 	http://www.city-data.com/city/Henderson-Nevada.html
-------------------------------------------------------------------------------------------

80 	Scottsdale, Arizona   228,076 	http://www.city-data.com/city/Scottsdale-Arizona.html
-------------------------------------------------------------------------------------------

81 	North Hempstead, New York   226,669 	http://www.city-data.com/city/North-Hempstead-New-York.html
-------------------------------------------------------------------------------------------

82 	Madison, Wisconsin   223,807 	http://www.city-data.com/city/Madison-Wisconsin.html
-------------------------------------------------------------------------------------------

83 	Hialeah, Florida   223,164 	http://www.city-data.com/city/Hialeah-Florida.html
-------------------------------------------------------------------------------------------

84 	Baton Rouge, Louisiana   221,997 	http://www.city-data.com/city/Baton-Rouge-Louisiana.html
-------------------------------------------------------------------------------------------

85 	Chesapeake, Virginia   216,570 	http://www.city-data.com/city/Chesapeake-Virginia.html
-------------------------------------------------------------------------------------------

86 	Orlando, Florida   216,501 	http://www.city-data.com/city/Orlando-Florida.html
-------------------------------------------------------------------------------------------

87 	Lubbock, Texas   213,089 	http://www.city-data.com/city/Lubbock-Texas.html
-------------------------------------------------------------------------------------------

88 	Garland, Texas   212,539 	http://www.city-data.com/city/Garland-Texas.html
-------------------------------------------------------------------------------------------

89 	Akron, Ohio   210,527 	http://www.city-data.com/city/Akron-Ohio.html
-------------------------------------------------------------------------------------------

90 	Rochester, New York   209,781 	http://www.city-data.com/city/Rochester-New-York.html
-------------------------------------------------------------------------------------------

91 	Chula Vista, California   209,483 	http://www.city-data.com/city/Chula-Vista-California.html
-------------------------------------------------------------------------------------------

92 	Reno, Nevada   206,109 	http://www.city-data.com/city/Reno-Nevada.html
-------------------------------------------------------------------------------------------

93 	Laredo, Texas   205,770 	http://www.city-data.com/city/Laredo-Texas.html
-------------------------------------------------------------------------------------------

94 	Durham, North Carolina   205,615 	http://www.city-data.com/city/Durham-North-Carolina.html
-------------------------------------------------------------------------------------------

95 	Modesto, California   204,077 	http://www.city-data.com/city/Modesto-California.html
-------------------------------------------------------------------------------------------

96 	Huntington, New York   202,606 	http://www.city-data.com/city/Huntington-New-York.html
-------------------------------------------------------------------------------------------

97 	Montgomery, Alabama   200,537 	http://www.city-data.com/city/Montgomery-Alabama.html
-------------------------------------------------------------------------------------------

98 	Boise, Idaho   200,163 	http://www.city-data.com/city/Boise-Idaho.html
-------------------------------------------------------------------------------------------

99 	Arlington, Virginia   199,761 	http://www.city-data.com/city/Arlington-Virginia.html
-------------------------------------------------------------------------------------------

100 	San Bernardino, California   198,959 	http://www.city-data.com/city/San-Bernardino-California.html
-------------------------------------------------------------------------------------------