## Part I

### [1]

In [47]:

ids = [4353, 2314, 2956, 3382, 9362,3900]

In [48]:
#[a]
len(ids)

6

In [49]:
#[b]
ids.remove(3382)

In [50]:
print ids

[4353, 2314, 2956, 9362, 3900]

In [52]:
#[c]
ids.index(9362)

3

In [53]:
#[d]
ids.insert(ids.index(9362)+1,4499)

In [55]:
print ids

[4353, 2314, 2956, 9362, 4499, 3900]

In [56]:
#[e]
ids.append(5566)
ids.append(1830)

In [58]:
ids

[4353, 2314, 2956, 9362, 4499, 3900, 5566, 1830]

In [59]:
#[f]
ids.sort()

In [60]:
ids

[1830, 2314, 2956, 3900, 4353, 4499, 5566, 9362]

In [61]:
#[g]
ids_new = ids

## Part II

### [2]

Didn't use `ids_new.index(id)` because of the possibilitiy  a duplicate value in the list

In [67]:
i = 0 
for id in ids_new:
    print i," ",id
    i = i + 1

0   1830
1   2314
2   2956
3   3900
4   4353
5   4499
6   5566
7   9362

### [3]

In [70]:
def fib(n):
    a = 0; print a
    b = 1; print b
    for i in range(n-2):
        print a + b
        temp = b
        b = a + b
        a = temp
        
    
fib(10)

0
1
1
2
3
5
8
13
21
34