# Popular Python3 syntax with Examples in iPython

online jupyter service: https://try.jupyter.org/

## Cell Input and Output

In [1]:
1+2

3

In [2]:
1+1
1+2

3

## The `print` function

**Notice:** `print` is a function in Python 3. You should use parentheses around your parameter.

In [3]:
print(1+2)

3

## Variables

There are many variable types in Python 3. Here is a list of the most common types:

### Numerical Types:
- bool (Boolean)
- int (Integer/Long)
- float
- complex

**Notice:** In Python 3 integer represents integer and long. Because there is no more long data type, you will not get `L` at the end of long integers.

In [4]:
a = 4
b = 1.5
c = 121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212
d = 1j
e = 1/3
f = True

In [5]:
a+b

5.5

In [6]:
a*c

484848484848484848484848484848484848484848484848484848484848484848484848484848484848484848484848484848484848

In [7]:
(b+d)*a

(6+4j)

In [8]:
a+f

5

In [9]:
type(1.5)

float

### Other Value Types:
- str (String)
- list (Ordered Array)
- tuple (Ordered Immutable Array)
- dict (Unordered list of keys and values)

In [10]:
my_name = "CJ"
print(my_name)

CJ

In [11]:
my_list = [1,2,3,4,5]
my_list

[1, 2, 3, 4, 5]

In [12]:
my_list + [6]

[1, 2, 3, 4, 5, 6]

In [13]:
my_list

[1, 2, 3, 4, 5]

In [15]:
my_list += [6,7,8]
my_list

[1, 2, 3, 4, 5, 6, 7, 8, 6, 7, 8]

In [16]:
my_list.append(9)
my_list

[1, 2, 3, 4, 5, 6, 7, 8, 6, 7, 8, 9]

In [17]:
my_tuple = (1,2,3)
my_tuple

(1, 2, 3)

In [18]:
my_tuple + (4,5,6)

(1, 2, 3, 4, 5, 6)

In [19]:
my_dict = {"name":"CJ", "id":100}
my_dict

{'id': 100, 'name': 'CJ'}

In [20]:
my_dict["name"]

'CJ'

In [21]:
my_dict["level"] = 4
my_dict

{'id': 100, 'level': 4, 'name': 'CJ'}

In [22]:
my_dict.values()

dict_values([100, 'CJ', 4])

In [23]:
my_dict.keys()

dict_keys(['id', 'name', 'level'])

### Selecting / Slicing

Use `len` function to measure the length of a list.

In [26]:
print (my_list)
len(my_list)

[1, 2, 3, 4, 5, 6, 7, 8, 6, 7, 8, 9]

12

To access a single value in a list use this syntax:
```python
list_name[index]
```

In [24]:
my_list[0]

1

To select multiple value from a list use this syntax:

```python
index[start:end:step]
index[from:upto:jump]
```

In [28]:
my_list[1:3]

[2, 3]

In [29]:
my_list[:3]

[1, 2, 3]

In [30]:
my_list[3:]

[4, 5, 6, 7, 8, 6, 7, 8, 9]

**Notice:** negative index selected from the end of the list

In [31]:
my_list[-1]

9

In [32]:
my_list[-2]

8

You can use negative indexing in selecting multiple values.

In [33]:
my_list[-2:]

[8, 9]

In [36]:
print (my_list)
print(my_list[:-2])

[1, 2, 3, 4, 5, 6, 7, 8, 6, 7]
[1, 2, 3, 4, 5, 6, 7, 8, 6, 7, 8, 9]

In [37]:
my_list[3:-1]

[4, 5, 6, 7, 8, 6, 7, 8]

The third location in the index is the `step`. If the `step` is negative the the list is returned in descending order.

In [38]:
my_list[::2]

[1, 3, 5, 7, 6, 8]

In [39]:
my_list[3::2]

[4, 6, 8, 7, 9]

In [40]:
my_list[::-1]

[9, 8, 7, 6, 8, 7, 6, 5, 4, 3, 2, 1]

### Working with Strings

You can select from a string like a list suing this syntax:

```python
my_string[star:end:step]
```

In [43]:
my_name

'CJ'

In [44]:
my_name[0]

'C'

**Notice:** You can also use negative indexing.

In [50]:
my_name[:2]

'CJ'

## Unicode

**Notice:** You can use unicode inside your string variables. Unlike Python 2, no need to use `u""` to use unicode.

In [60]:
#display error in mulitiple languages
divide_by_zero = {"sinhala":"ඔබට ශුන්ය විසින් බෙදිය නොහැකිය.",
                  "zho":"你不能除以零",
                  "eng":"You cannot divide by zero",
                  "arb":"لا يمكن القسمة على صفر"}

print(divide_by_zero["sinhala"])
type(divide_by_zero["sinhala"])

ඔබට ශුන්ය විසින් බෙදිය නොහැකිය.

str

## String Formatting

You can use this syntax to format a string:


```python
some_variable = 50
x = "Value: %s" % some_variable
print(x) # Value: 50
```

In [58]:
first_name = "Chathura"
last_name = "Gunasekara"
formatted_name = "%s, %s." % (last_name, first_name[0])
print(formatted_name)

Gunasekara, C.

Other formatters could be used to format numbers:

In [41]:
print("π ≈ %.2f" % 3.14159)

π ≈ 3.14

To find unicode symbols:

http://www.fileformat.info/info/unicode/char/search.htm

In [63]:
homeworks = 15.7586
midterm = 22
final = 51
total = homeworks + midterm + final

print("Homeworks: %.3f\nMid-term: %.2f\nFinal: %.2f\nTotal: %.2f/100" % (homeworks, midterm, final, total))

Homeworks: 15.759
Mid-term: 22.00
Final: 51.00
Total: 88.76/100

### Using `format(*args, **kwargs)` function

In [65]:
url = "http://{language}.wikipedia.org/"
url = url.format(language="en")
url

'http://en.wikipedia.org/'

## Mathematics

In [66]:
1+1

2

In [67]:
4-5

-1

**Notice:** The default behavior of division in Python 3 is float division. To use integer division like Python 2, use `//`

In [68]:
14/5

2.8

In [69]:
14//5

2

In [70]:
2*5

10

To raise a number to any power use down asterisk `**`. To represent $a^{n}$:

```python
a**n
```

In [71]:
2**3

8

To calculate the remainder (modulo operator) use `%`. To represent $a \mod b = r$:

```python
a % b # Returns r
```

In [73]:
10 % 3

1

You can use the `math` library to access a varaity of tools for algebra and geometry. To import a library, you can use one of these syntaxes:

```python
import library_name
import library_name as alias
from module_name import some_class
```

In [2]:
import math

In [75]:
n=52
k=1
math.factorial(n) / (math.factorial(k) * math.factorial(n-k))

52.0

## Loops

In [76]:
for counter in [1,2,3,4]:
    print(counter)

1
2
3
4

### range

In Python 3 `range` is a data type that generates a list of numbers.

```python
range(stop)
range(start,stop[ ,step])
```

**Notice:** In Python 2 `range` is a function that returns a list. In Python 3, `range` returns an iterable of type `range`. If you need to get a list you can use the `list()` function:

```python
list(range(start,stop[, step]))
```

In [77]:
for counter in range(5):
    print(counter)

0
1
2
3
4

**Notice:** The list doesn't reach the `stop` value and stops one `step` before. The reason behind that is to make this syntax possible:

In [78]:
list(range(1,10)) == list(range(1,5)) + list(range(5,10))

True

**Notice:** In Python 3 use use `==` to check if two values are equal. To check if two values are not equal use `!=` and don't use `<>` from Python 2 because it is not supported any more in Python 3.

In [79]:
for counter in range(1,5):
    print(counter)

1
2
3
4

In [80]:
for counter in range(2,10,2):
    print(counter)

2
4
6
8

### While Loop

In [81]:
counter =1
while counter < 5:
    print(counter)
    counter += 1

1
2
3
4

## If .. Else

In [82]:
if math.pi == 3.2:
    print("right!")
else:
    print("π is irrational")

π is irrational

In [84]:
if math.sqrt(2) == (10/7):
    print("right!")
elif math.sqrt(2) != (10/7):
    print("Square root of 2 is irrational")

Square root of 2 is irrational

In [85]:
probability = 0.3

if probability >= 0.75:
    print("Sure thing")
elif probability >= 0.5:
    print("Maybe")
elif probability >= 0.25:
    print("Unusual")
else:
    print("No way")

Unusual

## Functions

Functions are defined in Python using `def` keyword.

In [86]:
def get_circumference(r):
    return math.pi * r * 2

In [87]:
get_circumference(5)

31.41592653589793

In [3]:
def binomilal_coef(n,k):
    """
    This function returns the binominal coef
    
    Parameters:
    ===========
    n, k int
    
    return n!/(k!*(n-k)!)
    """
    value = math.factorial(n)/(math.factorial(k)*math.factorial(n-k))
    return value


binomilal_coef(52,2)

1326.0

**Notice:** Use can use SHIFT+TAB to show the docstring of a function.